@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;


.main{
    height: 100vh;
    display: grid;
    max-width: 1024px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    
}

